body{
        background-color: #ffffff;
    }
#navigation{
    
    list-style: none;
    overflow: hidden;


}

#navigation li{
    float: left;
    border-right:1px solid #ddd;
    background-color: lightgreen;
    padding: 20px 30px;
}

#navigation li a{
    display: block;
    padding: 10px 15px;

}

p.points{
    color: gray;
}

/*a[title]{
    color: skyblue;

}
a[href="https://google.com"]{
    color: orange;

}
*/

a[class~="search"]{
    color: darkred;

}

ul li:nth-child(2){
    color: deeppink;

}
a:link{
    color: black;
}
a:visited{
    color: greenyellow;
}

a:hover{
    background-color: palevioletred;

}

a:active{
    background-color: lightseagreen;
}

/*input :focus{
    background: violet;

}*/
input#submit_button{
    width: 150px;
    height: 50px;
    padding: 20px;
}

