
/*セレクタの優先度について*/

/*0.0.0.1*/

a{
    color:skyblue !important;
}

/*0.0.1.1 classを指定する*/
a.link{
    color: pink;
}

/*0.0.1.1 classを指定したものが複数ある場合、後に記載したものが優先される*/
a.search{
    color: orange;
}

/*0.1.0.1 idを指定するとさらに優先される*/
a#site{
    color: blue;
}
/*1.0.0.0 html内に直接スタイルを記述するとさらに優先される
また、css内に!importantを記述したものはさらに優先されるため、
dotinstallの文字色はskyblueが適用される。*/

/*ボックスモデル
body{
    margin: 0;
}
*/
/*div{
    background-color: silver;
    width: 200px;
    height: 100px;
    border-color: orange;
    border-width: 4px;
    border-style: dotted;
    border-top: orange 4px double;
    padding: 10px;
    margin: 20px 10px;

}*/

/*textに関するプロパティ*/
p{
    color: red;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline line-through;
}

/*listについて*/
/*#test1 li{
    list-style:inside decimal;
    list-style-image: url("beginer.png");}
*/

/*cursorについて
.help{
    cursor: help;
}
.dragme{
    cursor: move;
}
.clickme{
    cursor: pointer;
}
.smile{
    cursor: url("beginer.png");
}
*/
/*↓共通部分↓*/
#navigation{
    
    list-style: none;
    overflow: hidden;


}

#navigation li{
    float: left;
    border-right:1px solid #ddd;
    background-color: lightgreen;
    padding: 20px 30px;

}

#navigation li a{
    display: block;
    padding: 10px 15px;
    color: blue !important;
}

/*↑共通部分↑*/
.gray{
    background: gray;

}
.silver{
    background: silver;
}
.orange{
    background: orange;
}
